.auth-header {
  padding: 32px 64px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
  object-fit: cover;
}

.menu-group {
  text-align: center;
}

.menu-item {
  display: inline-block;
  text-align: center;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:first-child {
  margin-right: 16px;
}

.logout {
  color: #fff;
  border: none;
  background: inherit;
}
