.login {
  min-height: 100vh;
  background: #000;
}

.login__container {
  width: 40%;
  margin: 64px auto 0;
  padding: 24px;
  background: #fff;
  text-align: center;
  border-radius: 4px;
}

.login-title {
  margin-bottom: 24px;
  font-size: 20px;
}

.email,
.password {
  display: block;
  width: 80%;
  padding: 16px;
  margin: 0 auto 16px;
  border-radius: 8px;
  font-size: 16px;
}

.login-btn {
  padding: 8px 20px;
  border-radius: 24px;
  background: rgb(84, 25, 218);
  color: #fff;
}
