.side-nav {
  width: 20%;
  margin: 16px;
}

.logo {
  width: 150px;
  margin: 0 8px 16px;
  object-fit: cover;
}

.home-link,
.logout-link {
  position: relative;
  margin-bottom: 16px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.home,
.logout {
  display: inline-block;
  width: 30px;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 8px;
  margin-left: 16px;
  color: #fff;
}

.textarea--post {
  width: calc(100% - 16px);
  min-height: 112px;
  margin: 16px 0;
  padding: 8px;
  background: inherit;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  resize: none;
}

.nav-btn {
  display: block;
  margin-left: auto;
  padding: 8px 20px;
  border-radius: 24px;
  background: rgb(84, 25, 218);
  color: #fff;
}

.error {
  color: red;
}
